@import './base.css';

/*
    #1976D2  -- vuetify 'blue-darken-2'
*/

#app {
  padding: 1.3rem;
  margin: 0 auto;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Forms: login, recover, org. new/edit */
.form-1 {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

/* Forms: user settings/register */
.form-2,
.table-1,
.list-1 {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* Tables: users */
.table-2 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Tables: --   extra wide */
.table-3 {
  width: 100%;
  max-width: 2048px;
  margin: 0 auto;
  padding: 0;
}

/* The link to download config */
.link-crt {
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.label {
  width: 35%;
  display: inline-block;
  padding-right: 10px;
}

.hr {
  position: relative;
  top: 20px;
  border: none;
  height: 4px;
  background: #1976d2;
  margin-bottom: 50px;
}

.hr-light {
  position: relative;
  top: 0px;
  border: none;
  height: 2px;
  background: gray;
  margin-bottom: 20px;
}

.input {
  width: 60%;
  display: inline-block;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #1976d2;
  background-color: #f5f5f5;
  color: #282626;
  font-size: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.checkbox {
  display: inline-block;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.input:focus {
  outline: none;
  box-shadow: 0px 2px 10px #1976d2;
}

.input::placeholder {
  color: #999;
}

.password {
  width: 55%;
}

.select {
  padding-top: 0.1rem;
}

.select-o {
  width: 55%;
}

.label-o-f {
  width: 25%;
}

.button-o {
  width: 10%;
  text-decoration: none;
  transition: 0.4s;
  font-size: 120%;
}

.button-o:focus {
  outline: none;
  box-shadow: 0px 2px 10px #1976d2;
}

.button-o-c {
  color: rgb(75, 75, 75);
}

.button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #1976d2;
  color: white;
  font-size: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  min-width: 25%;
  align-self: center;
  margin-bottom: 1rem;
  margin-right: 1rem;
  max-width: 160px;
}

a:hover {
  cursor: pointer;
}

a,
.orange {
  text-decoration: none;
  color: #1976d2;
  transition: 0.4s;
}

.link {
  font-size: 1.1rem;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.scrollable {
  overflow-y: scroll;
  height: 90%;
}

.notscrollable {
  overflow-y: clip;
}

.v-data-table-footer .v-data-table-footer__items-per-page > span,
.v-data-table-footer .v-data-table-footer__items-per-page {
  padding-inline-end: 5px;
}

.v-data-table-footer .v-data-table-footer__info {
  display: block;
  text-align: right;
  width: 100%;
  padding-top: 10px;
  padding-right: 16px;
}

.checkbox-styled {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

.checkbox-styled + label {
  position: relative;
}

.checkbox-styled + label:after {
  content: '';
  display: inline-block;
  padding: 0.5rem;
  margin-bottom: -0.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 16px;
  height: 16px;
  background-color: #1976d2;
  border-radius: 3px;
}

.checkbox-styled + label:before {
  content: '';
  position: absolute;
  right: 18px;
  top: 6px;
  background-image: url('@/assets/check-solid.svg');
  background-size: cover;
  width: 12px;
  height: 12px;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(-5px);
  opacity: 0;
}

.checkbox-styled:checked + label:before {
  transform: translateY(0);
  opacity: 1;
}

.button:focus {
  outline: none;
  box-shadow: 0px 2px 10px rgba(EE, EE, EE, 0.3);
}

@media (min-width: 768px) {
  #app {
    padding: 2rem;
  }
  .link {
    font-size: 1.2rem;
  }

  .v-data-table-footer .v-data-table-footer__info,
  .v-data-table-footer .v-data-table-footer__items-per-page,
  .v-data-table-footer .v-data-table-footer__items-per-page > span {
    padding-inline-end: 24px;
  }

  .v-data-table-footer .v-data-table-footer__info {
    display: inline-block;
    width: auto;
    padding-top: 0;
    padding-right: 0;
  }
}

@media (min-width: 1400px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  float: right;
  margin-left: 0.5rem;
  text-decoration: none;
  color: #1976d2;
  transition: 0.4s;
}

.anti-btn {
  float: right;
  margin-left: 0.5rem;
  text-decoration: none;
  color: rgb(75, 75, 75);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: #eeeeee;
    background-color: #2773a6;
  }

  .button:hover {
    color: #eeeeee;
    background-color: #2773a6;
  }

  .btn:hover {
    color: #eeeeee;
    background-color: white;
  }
  .anti-btn:hover,
  .button-o-c:hover {
    color: #1976d2;
    background-color: white;
  }
}
